body {
  background: plum;
  display: block;
}

h1 {
  color: aliceblue;
}

h1,
.email {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: antiquewhite;
}
